## List Sample Code

In [1]:
range1 = range(10)
range2 = range(10, 20)
print(list(range1))   # [0 ,1, 2, 3, 4, 5, 6, 7, 8, 9]가 출력됨
print(list(range2))   # [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]가 출력됨

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [49]:
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]
print(listdata[1])
print(listdata[3])
print(listdata[5][1])

2
b
5

In [9]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
planet = '지구'

print('지구는 태양계에서 {}번째에 위치하고 있습니다'.format(solarsys.index('지구')))
print('지구는 태양계에서 {}번째에 위치하고 있습니다'.format(solarsys.index('지구', 4)))

지구는 태양계에서 3번째에 위치하고 있습니다
지구는 태양계에서 9번째에 위치하고 있습니다

In [4]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '지구']
solarsys1 = ['토성', '천왕성', '해왕성']
planet = '지구'

1. solarsys 에서 ['수성', '금성', '지구'] 를 출력
2. solarsys에서 '지구'의 위치값 출력
3. solarsys에서 '화성'을 '해왕성'으로 수정
4. solarsys에서 '수성' 자리에 '명왕성'을 삽입
5. solarsys에 '토성'을 맨 끝에 첨가
6. solarsys에 맨 끝 요소를 제거하고 리턴
7. solarsys에서 '금성'을 제거
8. solarsys에서 1번째에서 3번째까지 살제
9. solarsys에서 인덱스값 2번 요소를 삭제
10.solarsys와 solarsys1을 합하시요.
11. solarsys를 오름차순으로 정력하세요.
12. solarsys를 내림차순으로 정렬하세요.
13. solarsys의 원소의 순서를 바꾸세요.
14. solarsys에 '만리장성'이 있는지 확인하세요.
15. solarsys를 3번 반복하세요.
16. solarsys의 길이를 리턴하세요.
17. solarsys에서 '지구'의 갯수를 출력하세요.
18. solarsys의 모든 원소를 지워세요.
19. solarsys 리스트를 삭제하세요.

In [10]:
solarsys[1:4]

['수성', '금성', '지구']

In [11]:
# 지구의 index 출력하시오
solarsys.index('지구')

3

In [13]:
solarsys

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [14]:
# 해왕성으로 교체
solarsys[5] = '해왕성'

In [15]:
solarsys

['태양', '수성', '금성', '지구', '화성', '해왕성', '토성', '천왕성', '해왕성', '지구']

In [16]:
# 명왕성 삽입
solarsys.append('명왕성')

In [17]:
solarsys

['태양', '수성', '금성', '지구', '화성', '해왕성', '토성', '천왕성', '해왕성', '지구', '명왕성']

In [10]:
# 토성 삽입

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [18]:
# 맨 뒤 요소 삭제
solarsys.pop()
solarsys

['태양', '수성', '금성', '지구', '화성', '해왕성', '토성', '천왕성', '해왕성', '지구']

In [19]:
# 금성 삭제
solarsys.remove('금성')

In [20]:
solarsys

['태양', '수성', '지구', '화성', '해왕성', '토성', '천왕성', '해왕성', '지구']

In [21]:
# 명왕성, 수성, 지구 삭제
del solarsys[1:5]
solarsys

['태양', '토성', '천왕성', '해왕성', '지구']

In [22]:
# 목성 삭제
del solarsys[1:3]

In [23]:
solarsys

['태양', '해왕성', '지구']

In [24]:
# List를 합하시오
solarsys2 = ['토성','천왕성','해왕성']
solarsys.extend(solarsys2)
solarsys

['태양', '해왕성', '지구', '토성', '천왕성', '해왕성']

In [26]:
# 정렬
solarsys.sort()
solarsys

['지구', '천왕성', '태양', '토성', '해왕성', '해왕성']

In [27]:
# 역순 정렬
solarsys.sort(reverse=True)

In [28]:
solarsys

['해왕성', '해왕성', '토성', '태양', '천왕성', '지구']

In [18]:
sorted(solarsys)

['지구', '천왕성', '태양', '토성', '해왕성', '해왕성']

In [29]:
# '만리장성' 이 포합되어 있는지
'만리장성' in solarsys

False

In [30]:
# 길이 리턴
len(solarsys)

6

In [31]:
# 지구의 갯수
solarsys.count('지구')

1

In [23]:
list(reversed(solarsys))

['지구', '천왕성', '태양', '토성', '해왕성', '해왕성']

In [32]:
# 원소삭제
solarsys.clear()

In [33]:
solarsys

[]

In [34]:
# 리스트 삭제
del solarsys
solarsys

NameError: name 'solarsys' is not defined

In [35]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [51]:
list(range(2,21))[::2]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
for i in enumerate(solarsys):
    print(i)

(0, '태양')
(1, '수성')
(2, '금성')
(3, '지구')
(4, '화성')
(5, '목성')
(6, '토성')
(7, '천왕성')
(8, '해왕성')

In [ ]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
sol_list = []
for i in enumerate(solarsys):
    sol_list.append(i)
print(sol_list)

In [ ]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
sol_list = []
for i in range(len(solarsys)):
    k = (i, solarsys[i])
    sol_list.append(k)
print(sol_list)

In [54]:
pwd

'C:\\bigdata\\python\\python_code'